.student--home--container{
    padding: 1rem 2rem;

}



.course--promo{
    background-image: url('../../../../assets/images/course.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

